body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

.time-selection__cell {
  font-size: 10px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  width: 16.666666667%;
  cursor: pointer
}
